/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/box.scss */
.box {
  padding: 15px;
  background-color: #fff;
  border-radius: 6px;
  border-color: #DCDCDC;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 15px;
}

/* line 11, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/box.scss */
.top-box, .bottom-box {
  padding: 15px;
}
/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/button.scss */
.btn-primary {
  color: #fff;
  background-color: #2f74aa;
  border-color: #2f74aa;
}

/* line 7, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/button.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #ffaa39;
  border-color: #ffaa39;
}

/* line 13, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/button.scss */
.progress {
  margin: 10px 0px;
}
/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
.btn {
  margin: 10px 0px;
}

/* line 5, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
input[type="text"] {
  width: 66%;
  border-radius: 6px;
  border-color: #DCDCDC;
  background-color: #F5F5F5;
  border-style: solid;
  padding: 5px;
  border-width: 1px;
}

/* line 15, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
input[type="email"], input[type="password"] {
  width: 66%;
  border-radius: 6px;
  border-color: #DCDCDC;
  background-color: #F5F5F5;
  border-style: solid;
  padding: 5px;
  border-width: 1px;
}

/* line 25, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
textarea {
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
  border-color: #DCDCDC;
  background-color: #F5F5F5;
  border-style: solid;
  padding: 5px;
  border-width: 1px;
}

/* line 36, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
select {
  border-radius: 6px;
  border-color: #DCDCDC;
  background-color: #F5F5F5;
  border-style: solid;
  border-width: 1px;
}

/* line 44, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
.btn-file {
  position: relative;
  overflow: hidden;
}

/* line 48, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* line 64, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
input:focus, textarea:focus {
  background: #fff;
  border-radius: 6px;
  outline: none;
}
/* line 2, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/jumbotron.scss */
.jumbotron p, .jumbotron h2 {
  color: #fff;
  font-weight: 300;
}

/* line 8, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/jumbotron.scss */
.jumbotron {
  position: relative;
  background: url("jumbotron/jumbotron-1.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}
/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/layout.scss */
body {
  margin: 0 auto;
  max-width: 2000px;
}

/* line 6, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/layout.scss */
body {
  background-color: #fdfffd;
}

/* line 10, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/layout.scss */
main {
  margin-bottom: 15px;
}

/* line 14, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/layout.scss */
img {
  max-width: 100%;
}
/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/messages.scss */
.alert {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 6, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/messages.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

/* line 13, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/messages.scss */
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

/* line 20, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/messages.scss */
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* line 27, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/messages.scss */
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom {
  background-color: #2f74aa;
  color: #fff;
}

/* line 6, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-nav > li > a {
  color: #fff;
}

/* line 9, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}

/* line 14, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
}

/* line 19, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-brand {
  color: #fff;
}

/* line 23, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-brand:hover {
  color: #ffaa39;
}

/* line 26, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-toggle {
  background-color: #eee;
}

/* line 30, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-footer .navbar-text {
  color: #fff;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/box.scss */
.box {
  padding: 15px;
  background-color: #fff;
  border-radius: 6px;
  border-color: #DCDCDC;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 15px;
}

/* line 11, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/box.scss */
.top-box, .bottom-box {
  padding: 15px;
}

/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/button.scss */
.btn-primary {
  color: #fff;
  background-color: #2f74aa;
  border-color: #2f74aa;
}

/* line 7, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/button.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #ffaa39;
  border-color: #ffaa39;
}

/* line 13, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/button.scss */
.progress {
  margin: 10px 0px;
}

/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
.btn {
  margin: 10px 0px;
}

/* line 5, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
input[type="text"] {
  width: 66%;
  border-radius: 6px;
  border-color: #DCDCDC;
  background-color: #F5F5F5;
  border-style: solid;
  padding: 5px;
  border-width: 1px;
}

/* line 15, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
input[type="email"], input[type="password"] {
  width: 66%;
  border-radius: 6px;
  border-color: #DCDCDC;
  background-color: #F5F5F5;
  border-style: solid;
  padding: 5px;
  border-width: 1px;
}

/* line 25, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
textarea {
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
  border-color: #DCDCDC;
  background-color: #F5F5F5;
  border-style: solid;
  padding: 5px;
  border-width: 1px;
}

/* line 36, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
select {
  border-radius: 6px;
  border-color: #DCDCDC;
  background-color: #F5F5F5;
  border-style: solid;
  border-width: 1px;
}

/* line 44, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
.btn-file {
  position: relative;
  overflow: hidden;
}

/* line 48, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* line 64, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/forms.scss */
input:focus, textarea:focus {
  background: #fff;
  border-radius: 6px;
  outline: none;
}

/* line 2, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/jumbotron.scss */
.jumbotron p, .jumbotron h2 {
  color: #fff;
  font-weight: 300;
}

/* line 8, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/jumbotron.scss */
.jumbotron {
  position: relative;
  background: url("jumbotron/jumbotron-1.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/layout.scss */
body {
  margin: 0 auto;
  max-width: 2000px;
}

/* line 6, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/layout.scss */
body {
  background-color: #fdfffd;
}

/* line 10, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/layout.scss */
main {
  margin-bottom: 15px;
}

/* line 14, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/layout.scss */
img {
  max-width: 100%;
}

/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/messages.scss */
.alert {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 6, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/messages.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

/* line 13, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/messages.scss */
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

/* line 20, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/messages.scss */
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* line 27, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/messages.scss */
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* line 1, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom {
  background-color: #2f74aa;
  color: #fff;
}

/* line 6, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-nav > li > a {
  color: #fff;
}

/* line 9, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}

/* line 14, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
}

/* line 19, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-brand {
  color: #fff;
}

/* line 23, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-brand:hover {
  color: #ffaa39;
}

/* line 26, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-custom .navbar-toggle {
  background-color: #eee;
}

/* line 30, /Users/jodyrogan/FinalProject/blender/app/assets/stylesheets/navbar.scss */
.navbar-footer .navbar-text {
  color: #fff;
}
