.btn-primary {
  color: #fff;
  background-color: #2f74aa;
  border-color: #2f74aa;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ffaa39;
  border-color: #ffaa39;
}

.progress {
  margin: 10px 0px;
}
