.new_user {
  input[type="email"], input[type="password"] {
    width: 66%;
  }
}

.btn {
  margin: 10px 0px;
}

input[type="text"] {
  width: 66%;
}

textarea {
  height: 8em;
  width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
