<div class="box">
  <h2>Activity Task</h2>
  <h3>Learning objectives</h3>
  <p><%= simple_format(@task.learning_objectives) %></p>
  <h3>Instructions</h3>
  <p><%= simple_format(@task.instructions) %></p>
  <h3>Hints</h3>
  <p><%= simple_format(@task.hints) %></p>
</div>
