<div class="box">
  <h2>Activity Task</h2>
  <h3>Learning objectives</h3>
  <p><%= @task.learning_objectives %></p>
  <h3>Instructions</h3>
  <p><%= @task.instructions %></p>
  <h3>Hints</h3>
  <p><%= @task.hints %></p>
</div>
